<h1>Teste Bootstrap <span class="badge badge-secondary">New</span></h1>
<div class="alert alert-danger" role="alert">
  A simple success alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/logo_horacio.png" />
      </div>
      <!-- fim card-body -->
    </div>
    <!-- fim card -->
  </div>
  <!-- fim col -->

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/crud.png" />
     </div>
    </div>
  </div>
</div>
<!-- fim row -->

<div class="card" style="width: 18rem;">
  <img src="assets/img/eu.jpg" class="card-img">
  <div class="card-body">
    <h5 class="card-title">Apresentação</h5>
    <p class="card-text"> Sou Leonardo, um estudante da Etec HAS e faço o curso de DS! <p>
    <p>Idade : 17</p>

    <img src="assets/img/ig.webp"
        height="40px">
    <a href="https://www.instagram.com/" class="btn btn-primary">Contatar-me</a>
  </div>
</div>



<div class="card" style="width: 18rem;">
  <img src="assets/img/matheus.jpg" class="card-img">
  <div class="card-body">
    <h5 class="card-title">Apresentação</h5>
    <p class="card-text"> Sou Leonardo, um estudante da Etec HAS e faço o curso de DS! <p>
    <p>Idade : 17</p>

    <img src="assets/img/ig.webp"
        height="40px">
    <a href="https://www.instagram.com/" class="btn btn-primary">Contatar-me</a>
  </div>
</div>



<router-outlet></router-outlet>
